* {
    box-sizing: border-box;
}

@font-face{
    font-family: 'customFont';
    src: url('../fonts/bat_font.ttf') format('truetype');
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'customFont';
    margin: 0;
    padding: 0;
    background: #000;
}

button{
    font-family: 'customFont';
}

.invisible {
    display: none !important;
}

/* ------------------------- LOGIN -------------------------*/

/* card generica da personalizzare a seconda di detenuto o guardia */
.card {
    width: 30%;
    padding: 2rem 1rem;
    margin: 2rem 2rem;
    border: 2px solid black;
    border-radius: 1.8rem;
}

#logoLogin{
    width: 20rem;
}

/* ------------------------- HEADER -------------------------*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    padding: 2rem;
}

#logoNav{
    height: 5rem;
    margin-left: 2rem;

}

.btnNav{
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin: 0 1rem;
    position: relative;
    left: 30px;
    color: white;
    padding: 1.3rem;
    background-color: black;
    border: transparent;
    border-radius: .5rem;
}


#navbar{
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

/* ------------------------- FORM -------------------------*/

#modalContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.modalBody{
    width: 60rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    /* padding-top: 5rem; */
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    background-color: yellow;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); */
    /* animation: modalUp 1s; */
}

#textContent {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 3rem;
    margin: 0;
}

.inputField {
    width: 50%;
    display: block;
    transform: translateX(50%);
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    margin-top: 1rem;
    border: 1px solid black;
}

#btnLogin {
    width: 50%;
    display: block;
    transform: translateX(50%);
    padding: 0.8rem;
    margin-top: 1rem;
}



/* ------------------------- FORM AGGIUNGERE GUARDIA -------------------------*/

#modalContainerGuardia, #modalContainerDetenuto{
    width: 60rem;
    height: auto;
    padding: 3rem 0;
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    background-color: yellow;
    animation: modalUp 1s;
}


/*  titolo form aggiungi detenuto/guardia  */

#textFormDetenuto, #textFormGuardia{
    font-size: 2rem;
    text-transform: uppercase;
}


#inputNome, #inputNato, #btnAddGuardia, #btnAddDetenuto, .btnInpDet{
    width: 50%;
    display: block;
    transform: translateX(50%);
    padding: .8rem;
    margin: 1rem;
    border-radius: 0.8rem;
    border: transparent;
}

#btnAddGuardia, #btnAddDetenuto{
    color: white;
    background-color: black;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem;
}



/* ------------------------- CONTAINER CARCERATI -------------------------*/
#containerDetenuti, #containerGuardie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.548);
}

#containerDetenuti .card, #containerGuardie .card{
    background-color: #ffebcde1;
    box-shadow: inset -5px -5px 0px #506121, inset 5px 5px 0px #ffff85;
}
#containerDetenuti .card div, #containerGuardie .card div{
    font-size: 2rem;
}

/* ------------------------- CONTAINER GUARDIE -------------------------*/



/* ------------------------- ANIMAZIONE -------------------------*/
@keyframes modalUp {
    from {
        transform: translateY(-15rem);
    }
    to {
        transform: translateY(0);
    }
}
