* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "open sans";
    margin: 0;
    padding: 0;
}

.invisible {
    display: none;
}

/* ------------------------- FORM -------------------------*/

#modalContainer {
    width: 100vw;
    height: 100vh;
    border: 3px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBody {
    width: 60rem;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    background-color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    animation: modalUp 1s;
}

#textContent {
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 5px;
    padding-bottom: 3.5rem;
    margin: 0;
}

.inputField {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

@keyframes modalUp {
    from {
        transform: translateY(-15rem);
    }
    to {
        transform: translateY(0);
    }
}
