*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    margin: 0; padding: 0;
}

/* LOGIN */
#modalContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
}

.invisible{
    display: none !important;
}

.modalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    margin: auto;
    width: 60rem;
    background-color: red;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    animation: modalUp 1s;
}

.modalBody form{
    background-color: #fff;
    width: 100%;
    padding: 10px 20px;
}

.inputField{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 1 rem;
}

#modalHeader{
    display: flex;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid darkgray;
}

#modalHeader h2{
    margin: 0;
    color: #fff;
}






@keyframes modalUp {
    from{transform: translateY(-15rem);}
    to{transform: translateY(0);}
}